<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="converter" href="/tabs/converter">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Converter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart" href="/tabs/chart">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráfico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
